.logo {
  height: 75px;
  width: 75px;
}

* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  height: 100%;
  overflow: hidden;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  /* padding: 8px; */
  overflow: hidden;
  flex-direction: column;
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  height: 60vh;
  width: 60vh;
  border-radius: 8px;
  transition: 0.2s all;
}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
  transform: scale(1.1);
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sub-text {
  color: #0c0114;
  background-color: #999;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pool {
  display: flex;
  justify-content: center;
  align-items: end;
}
.rooms {
  display: flex;
  justify-content: center;
  align-items: start;
}

.hero-image {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
  /* display: flex; */
  /* align-items: center;  */
  /* justify-content: center;  */
  text-align: center;
  color: white;
  position: relative;
}
/* @media screen and (min-width: 375px) {
    
    .hero-image,
    .hero-subheading,
    .hero-input {
        width: 100%;
    } */
.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height: 20rem;
  border-radius: 8px;
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 75%;
  object-fit: cover;
  transition: 0.2s all;
}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 16px;
}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 100%;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
}

.img-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.primary-image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}

/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(150deg,#0c0114, #262627 50%,hsl(195, 3%, 71%));
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(15, 15, 15, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
    top: 70vh;
    left: 10vh;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}



@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

.text-container {
    display: flex;
    flex-direction: row;

    
}
.sub-heading {
    background-color: #999;
    color: #262627;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
@media (max-width: 768px) {
    .text-container {
        display: flex;
        flex-direction: column;
    }
    .sub-heading {
        background-color: #999;
        color: #262627;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}

.sub-content {
  background-color: #999;
}

.sub-head {
  /* margin: 16px; */
  padding: 16px;
  margin-left: 20px;
}



/* CSS */
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}